*{
    margin: 0;
}

body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    flex-flow: column;
}


#navegacion {
    top: 0;
    z-index: 3;
    position: absolute;
}

#navegacion ul {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around; 
    position: fixed;
    top: 0;
}



#navegacion ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}

#navegacion ul li:hover > ul{
    display: block;

}

#navegacion li {
    background-color: rgba(0, 0, 0, 0.664);
    margin: auto;
    width: 100%;
    display: block;
    position: relative;
}

#navegacion a{
    background-color: rgba(0, 0, 0, 0.664); 
    display: flex;
    padding: 20px;
    text-decoration: none;
    color: aliceblue;
    justify-content: center;
    transition: background-color 0.5s ease;

}

#navegacion a:hover {
    background-color: aliceblue;
    color: black;
}

#navegacion a i{
    margin-right: 10px;
}

#navegacion ul li ul li a {
    justify-content: flex-start;
}

nav .boton {
    width: 100%;
    display: flex;
    justify-content: center;
}

nav button {
    background-color: rgba(0, 0, 0, 0.664); 
    display: flex;
    padding: 20px;
    text-decoration: none;
    color: aliceblue;
    justify-content: center;
    transition: background-color 0.5s ease;
    border:0;
    flex-basis: 100%;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background-color 0.5s;
    font-size: 16px;

}

nav button:hover{
    background-color: aliceblue;
    color: black;
    
}








nav input{
    width: 90%;
    background: transparent;
    border: 0;
    padding: 18px 15px;
    color: aliceblue;
}


nav .datos {
    margin: 15px 0;
    display: flex;
}


nav .datos i {
    margin-right: 15px;
    margin-top: 15px;
}





#seccionUno{  
    background-image: url(../multimedia/img/23\ \(4\ de\ 33\).webp);
    background-size: cover;
    padding: 100px;
    height: 700px;
    font-size: x-large;
    position: sticky;
}

#seccionUno .cuerpo {
    background-color: rgba(0, 0, 0, 0.103);
    padding: 30px;
    border-radius: 20px;
    transition: 0.5s;
    text-align: center;
}

#seccionUno .cuerpo:hover {
    background-color: rgba(0, 0, 0, 0.336);
    padding: 30px;
    border-radius: 30px;
}

#seccionDos {
    padding-top: 70px;
    padding-bottom: 70px;
    border-top: solid 1px aliceblue;
    border-bottom: solid 1px aliceblue;
    background-color: rgb(47, 48, 61);
}

.seccion {
    color: aliceblue;
    display: flex;
    flex-flow: column;
    justify-content: center;
    border-bottom: solid 1px aliceblue;
}

#serv {
    display: flex;
    margin-top: 80px;
    margin-left: 80px;
    margin-right: 80px;
    height: auto;
    justify-content: center;
    flex-wrap: nowrap;
    flex-flow: row;
    border-radius: 20px;
    transition: 0.5s;
    color: aliceblue;
}





.caja{
    justify-content: center;
    width: 0;
    color: aliceblue;
    line-height: 3;
    transition: 0.5s ease;
    z-index: 0;
    flex-grow: 1;
    opacity: 0.9; 
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.664);
}

.caja:hover {
    width: 10%;
    background-color: aliceblue;
    color: black;
    position: sticky;
    z-index: 1;
    opacity: 1;
    cursor:pointer;
    border-radius: 20px;
}





h1, h2{
    text-align: center;
}



#descripcion1 ul, #descripcion2 ul, #descripcion3 ul {
    list-style-type: none;
    transition: maxHeight 0.5s ease;
    padding: 10px;
    font-size: 12px;
}


#imagen {
    margin: 0;
}

#imagen img{
    max-width: 100%;
    height: auto;
    margin: 0;
    object-fit: cover;
}


footer {
    text-align: center;
    color: aliceblue;
    background-color: black;
    height: 300px;
    padding: 30px;
}


#seccionTres {

}



.container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    line-height: 2.5;
    width: 100%;
    
}




dialog {
    border-radius: 20px;
    border: solid 1px rgba(240, 248, 255, 0.247);
    background-color: rgb(0, 0, 0);
    transition: 0.5s;
    width: auto;
    height: 600px;
    margin-top: 150px;
    margin-left: 35%;
    margin-right: 35%;
    color: aliceblue;

}

#modal::backdrop {
    background-color: rgba(0, 0, 0, 0.658);
}


#consulta {
    width: 100%;
}


.form-content h1 {
    font-size: 30px;
    margin-bottom: 60px;
    position: relative;
}

.form-content h1::after {
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background-color: aliceblue;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%);
}




.input-field {
    background-color: rgba(51, 55, 58, 0.651);
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    transition: max-height 0.5s;
    overflow: hidden;
}

input {
    width: 100%;
    background: transparent;
    border: 0;
    padding: 18px 15px;
    color: aliceblue;
}

.input-field i {
    margin-left: 15px;
    margin-top: 15px;
}



.btn-field {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.btn-field button {
    justify-content: center;
    align-items: center;
    flex-basis: 48%;
    font-size: 16px;
    background-color: rgba(51, 55, 58, 0.651);
    color: aliceblue;
    height: 40px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 0.5s;
    margin-top: 40px;
}

.btn-field button:hover {
    background-color: rgba(0, 255, 255, 0.603);
    color: rgba(51, 55, 58, 0.849);
}

input-group {
    height: 250px;
}

.btn-field button.disable {
    background-color: aliceblue;
    color: rgba(51, 55, 58, 0.849);
}

.btn-field button.disable:hover {
    background-color: rgba(0, 255, 255, 0.603);
    color: aliceblue;
}


form p{

    text-align: left;
    font-size: large;

}

form p a {
    align-items: center;
    height: 10px;
}

form #submit {
    margin-top: 5px;
    text-align: center;
    align-items: center;
    width: 100%;

}



@media screen and (min-width: 1200px){
    #serv{
        padding-left: 100px;
        padding-right: 100px;
    }


    }



@media screen and (max-width: 1300px){
    dialog {
        border-radius: 20px;
        border: solid 1px rgba(240, 248, 255, 0.247);
        background-color: rgb(0, 0, 0);
        transition: 0.5s;
        width: auto;
        height: auto;
        margin-top: 150px;
        margin-left: 25%;
        margin-right: 25%;
        color: aliceblue;
        margin-bottom: 150px;
    
    }
    
}


@media screen and (max-width: 800px){
    html{
        font-size: small;
    }

    

    #serv{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .caja {
        width: 100%;
        height: 800px;
    }

    .caja:hover {
        width: 100%;
        background-color: aliceblue;
        color: black;
        position: sticky;
        z-index: 1;
        opacity: 1;
    }

    #imagen img{
        max-height: 100%;
        width: auto;
        
    }

    nav button {
        font-size: small;
    }

    #descripcion1 ul, #descripcion2 ul, #descripcion3 ul {
        list-style-type: none;
        transition: maxHeight 0.5s ease;
        padding: 3px;
        font-size: 12px;
    }


    dialog {
        margin-left: 5%;
        margin-right: 5%;
        overflow: hidden;
    }
}


















