*{
    margin: 0;
}

body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-content: center;
    flex-flow: column;
    background-color: rgb(47, 48, 61);
    background-image: url("../multimedia/img/23\ \(4\ de\ 33\).webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


#navegacion {
    top: 0;
    z-index: 3;
    position: absolute;
}

#navegacion ul {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around; 
    position: fixed;
    top: 0;
}



#navegacion ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}

#navegacion ul li:hover > ul{
    display: block;

}

#navegacion li {
    background-color: rgba(0, 0, 0, 0.664);
    margin: auto;
    width: 100%;
    display: block;
    position: relative;
}

#navegacion a{
    background-color: rgba(0, 0, 0, 0.664); 
    display: flex;
    padding: 20px;
    text-decoration: none;
    color: aliceblue;
    justify-content: center;
    transition: background-color 0.5s ease;

}

#navegacion a:hover {
    background-color: aliceblue;
    color: black;
}

#navegacion a i{
    margin-right: 10px;
}

#navegacion ul li ul li a {
    justify-content: flex-start;
}

nav .boton {
    width: 100%;
    display: flex;
    justify-content: center;
}

nav button {
    background-color: rgba(0, 0, 0, 0.664); 
    display: flex;
    padding: 20px;
    text-decoration: none;
    color: aliceblue;
    justify-content: center;
    transition: background-color 0.5s ease;
    border:0;
    flex-basis: 100%;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background-color 0.5s;
    font-size: 16px;

}

nav button:hover{
    background-color: aliceblue;
    color: black;
    
}




dialog {
    border-radius: 20px;
    border: solid 1px rgba(240, 248, 255, 0.247);
    background-color: rgb(0, 0, 0);
    transition: 0.5s;
    width: auto;
    margin-top: 150px;
    margin-left: 35%;
    margin-right: 35%;
    color: aliceblue;
    overflow: hidden;
}

#modal::backdrop {
    background-color: rgba(0, 0, 0, 0.658);
}


.container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    line-height: 2.5;
    width: 100%;
    
}




dialog {
    border-radius: 20px;
    border: solid 1px rgba(240, 248, 255, 0.247);
    background-color: rgb(0, 0, 0);
    transition: 0.5s;
    width: auto;
    height: 600px;
    margin-top: 150px;
    margin-left: 35%;
    margin-right: 35%;
    color: aliceblue;

}

#modal::backdrop {
    background-color: rgba(0, 0, 0, 0.658);
}


#consulta {
    width: 100%;
}


.form-content h1 {
    font-size: 30px;
    margin-bottom: 60px;
    position: relative;
}

.form-content h1::after {
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background-color: aliceblue;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%);
}




.input-field {
    background-color: rgba(51, 55, 58, 0.651);
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    transition: max-height 0.5s;
    overflow: hidden;
}

input {
    width: 100%;
    background: transparent;
    border: 0;
    padding: 18px 15px;
    color: aliceblue;
}

.input-field i {
    margin-left: 15px;
    margin-top: 15px;
}



.btn-field {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.btn-field button {
    justify-content: center;
    align-items: center;
    flex-basis: 48%;
    font-size: 16px;
    background-color: rgba(51, 55, 58, 0.651);
    color: aliceblue;
    height: 40px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 0.5s;
    margin-top: 80px;
}

.btn-field button:hover {
    background-color: rgba(0, 255, 255, 0.603);
    color: rgba(51, 55, 58, 0.849);
}

input-group {
    height: 250px;
}

.btn-field button.disable {
    background-color: aliceblue;
    color: rgba(51, 55, 58, 0.849);
}

.btn-field button.disable:hover {
    background-color: rgba(0, 255, 255, 0.603);
    color: aliceblue;
}


form p{

    text-align: left;
    font-size: large;

}

form p a {
    align-items: center;
    height: 10px;
}

form #submit {
    margin-top: 5px;
    text-align: center;
    align-items: center;
    width: 100%;

}



nav input{
    width: 90%;
    background: transparent;
    border: 0;
    padding: 18px 15px;
    color: aliceblue;
}


nav .datos {
    margin: 15px 0;
    display: flex;
}


nav .datos i {
    margin-right: 15px;
    margin-top: 15px;
}




#cajaDatos{
    display: flex;
    justify-content: center;
    margin: 15%;
    margin-top: 150px;
    margin-bottom: 30px;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.342);
    color: aliceblue;
    transition: 0.5s;
    border-radius: 20px;
    flex-flow: column;
    text-align: center;
    align-items: center;
}

#cajaDatos:hover {
    background-color: rgba(0, 0, 0, 0.664);
}

#cajaDatos .datos {
    margin: 5px;
    line-height: 1.5;
}

#cajaDatos h3{
    font-size: small;
    padding-bottom: 10px;
    border-bottom: solid 1px white;
    margin-bottom: 10px;
}

#cajaDatos img{
    max-width: 300px;
    max-height: 300px;
    margin: 50px;
    margin-top: 0;
    border-radius: 500px;
    transform: scale(1);
    transition: 0.5s ease;
}

#cajaDatos img:hover {
    transform: scale(1.2);
    
}

#cajaTarjeta {
    display: flex;
    margin: 15%;
    margin-top: 10px;
    justify-content: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.342);
    color: aliceblue;
    transition: 0.5s;
    border-radius: 20px;
    flex-flow: column;
    text-align: center;
}

#cajaTarjeta:hover {
    background-color: rgba(0, 0, 0, 0.664);
}

#cajaTarjeta i{
    margin-top: 15px;
    margin-right: 20px;
}

#cajaTarjeta p{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 15px;
}


#cuerpo {
    
    display: grid;
    grid-template-columns: 70% 30%;
    grid-row: 100%;
}

#cuerpo #principal {
    grid-column: 1/2;
    margin: 10px;
}



#cuerpo ul {
    border-left: solid 1px aliceblue;
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 10px;
}

h1, h2{
    text-align: center;
}




@media screen and (max-width: 800px){
    *{
        font-size: small;
        margin: 0;
        padding: 0;
    }

    nav button {
        font-size: small;
    }

    #cajaDatos {
        margin: 5%;
        margin-top: 150px;
    }

    #cajaTarjeta {
        margin: 5%;
        margin-top: 10px;
        flex-flow: column;
    }


    #cajaDatos img {
        margin: auto;
    }

    #cajaDatos h1 {
        font-size: x-large;
    }

    dialog {
        margin-left: 5%;
        margin-right: 5%;
        overflow: hidden;
    }
}




@media screen and (max-width: 1300px){
    dialog {
        border-radius: 20px;
        border: solid 1px rgba(240, 248, 255, 0.247);
        background-color: rgb(0, 0, 0);
        transition: 0.5s;
        width: auto;
        height: auto;
        margin-top: 150px;
        margin-left: 25%;
        margin-right: 25%;
        color: aliceblue;
        margin-bottom: 150px;
    
    }
    

}